shamefully-hoist=true
strict-peer-dependencies=false
side-effects-cache=false
@root:registry="https://git.whitelabels.tech/api/v4/projects/17/packages/npm/"
@contracts:registry="https://git.whitelabels.tech/api/v4/projects/21/packages/npm"